USE_AZURE_CLIENT=true

CLIENT_ENDPOINT=<AN ENDPOINT>
CLIENT_KEY=<A KEY>

# This can be the same as above settings, only need to be different if you need to talk to multiple OpenAI instances
CLIENT_ENDPOINT_ALT=<AN ENDPOINT>
CLIENT_KEY_ALT=<A KEY>

COGNITIVESEARCH_ENDPOINT=<AN ENDPOINT>
COGNITIVESEARCH_TOKEN=<A KEY>
